
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Django Semi-Restful User assignment">
	{% load staticfiles %}
	<title>Semi-Restful Users</title>	
</head>
<body>
		<h1>Edit User {{ user.id }}</h1>
		<form action="{% url 'restful:update' id=user.id %}" method="post">
			{% csrf_token %}
			<label for="full_name">Full Name</label>
			<input type="text" name="full_name" value="{{ user.name }}">
			<label for="email">Email</label>
			<input type="text" name="email" value="{{ user.description }}">
			
			
			<input type="submit" name="update" value="Update">
		</form>
		<ul>
			<li><a href="{% url 'restful:show' id=user.id %}">Show</a></li>
			<li><a href="{% url 'restful:index' %}">Go Back</a></li>
		</ul>
	</main>
</body>
</html>